* {
    cursor: url(media/pointer.png), auto;
}

body {
    background-image: url(media/overlay.png);
    background-size: 100%;
    background-repeat: repeat;
    background-color: rgb(16, 42, 109);
    position: relative;
}

main {
    clear: both;
    width: 95%;
    left: 2.5%;
    visibility: hidden;
    min-height: 500px;
    background-color: rgb(251, 183, 239);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.padding {
    clear:both;
    position: absolute;
    padding-bottom: 50px;
}

#container {
    position: relative;
    padding: auto;
    overflow: hidden;
}

content {
    display: none;
    height: none;
}

/* For background image transparency */
main::before,
nav li::before {
    content: "";
    background-image: url(media/overlay.png);
    background-size: 200%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: repeat;
    opacity: 0.25;
    z-index: -0;
}

nav li::before {
    top: -20px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: 200%;
    opacity: 0.15;
    z-index: -0;
}

nav li a {
    position: relative;
    z-index: 1 !important;
    /* This flexbox code stretches the link's clickable 
    * area to fit its parent block. */
    top: 2px;
    bottom: 2px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    cursor: url(media/clicker.png), auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
label,
p {
    font-family: 'Optima';
    color: rgba(0, 0, 0, 1);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}

@keyframes shine {
  to { background-position: 200% center; }
}

b {
    background-clip: text;
    -webkit-background-clip: text;
    /* For Safari */
    color: transparent;
    background: linear-gradient(to right, rgb(200, 73, 166), rgb(117, 123, 231), rgb(200, 73, 166));
    background-size: 200% auto;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s linear infinite;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 50%;
    position: relative;
    top: 85px;
    right: 2%;
}

nav li {
    display: inline-block;
    width: 22%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    z-index: 0;
    margin-top: 1px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    font-family: cursive;
    font-size: larger;
}

nav li.active {
    background-color: rgb(251, 183, 239);
    position: relative;
}

nav li.inactive {
    background-color: rgb(220, 136, 205);
}

nav li a {
    line-height: 25px;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

nav.menu {
    z-index: 0;
}

/* Columns, left (33%) and right (66%) */
div.left {
    float: left;
    height: 100%;
    width: 33%;
    position: absolute;
    top: 0;
    bottom: 0;
}

div.right {
    float: right;
    width: 66%;
}

img {
    max-width: 95%;
    max-height: 95%;
    margin-left: 15px;
    vertical-align: middle;
    margin-block: 7.5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.frame {
    align-items: center;
    /* For vertical align */
    display: flex;
    height: 100%;
    /* justify-content: center; <- for horizontal align */
    width: 100%;
}

img.logo {
    float: left;
    height: 100px;
    box-shadow: none;
    position: relative;
    transform: none;
}

form {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    font-family: 'Optima';
}

label {
    float: center;
    display: block;
    font-size: 20px;
    margin: 10px;
}

input, textarea {
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    cursor: url(media/text.png), auto;
    font-family: 'Optima';
    background-color: rgb(244, 198, 240);
}

textarea {
    padding-top: 2px;
    height: 150px;
    min-height: 150px;
    resize: vertical;
}

form ul {
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    position: relative;
    display: flex;
    justify-content: space-between
}

form li {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

form li input {
    cursor: url(media/clicker.png), auto;
    background-color: rgb(244, 198, 240);
}

.social-media-icons {
    text-align: center;
    /* align the icons horizontally */
    z-index: 100001 !important;
}

.social-media-icons a {
    z-index: 1000001 !important; 
    position: relative;
}

.social-media-icon {
    cursor: url(media/clicker.png), auto;
    display: inline-block;
    /* display the icons on the same line */
    max-width: 30px;
    border-radius: 25%;
    z-index: 100001 !important;
}

/* MOBILE */
@media screen and (max-width: 700px) {
    main {
        width: 97.5%;
        left: 1.25%;
    }

    img.logo {
        float: none;
        width: 120px;
        height: auto;
        margin: auto;
        display: block;
    }

    h2 {
        font-size: 1.4em;
    }

    img {
        width: 70%;
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }

    .frame {
        display: block;
    }

    nav ul {
        float: none;
        width: 97.5%;
        text-align: center;
        position: relative;
        top: 27.5px;
        left: 1.25%;
    }

    nav li {
        height: 55px;
        padding: 0 0px;
        font-size: 3.5vw;
    }

    div.left {
        width: 100%;
        float: none;
        display: inline-block;
        position: static;
    }

    div.right {
        width: 100%;
        float: none;
        display: inline-block;
    }    
}

/* WIDE SCREENS */
@media screen and (min-width: 1100px) {
    main {
        top: 50px;
        width: 80%;
        left: 10%;
    }

    img.logo {
        position: absolute;
        left: 10%;
    }

    nav ul {
        width: 40%;
        right: 10%;
    }

    nav li {
        height: 70px;
    }

    nav li a {
        line-height: 35px;
        z-index: 1;
    }
}

/* ULTRA WIDE SCREENS */
@media screen and (min-width: 1500px) {
    main {
        width: 1200px;
        left: calc((100% - 1200px) / 2);
    }

    img.logo {
        left: calc((100% - 1200px) / 2);
    }

    nav ul {
        width: 600px;
        right: calc((100% - 1200px) / 2);
    }
}


/* GALLERY ========================================================================= */  
#grid {
    width: 98%;
}

.grid-item img{
    width: calc(100% - 5px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-left: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

/* REGULAR SCREEN SIZES */

/* fluid 10 columns */
.grid-sizer { width: 8.9%; }
/* 1/10th */
.grid-item--width1 { width: 8.9%; }
/* 2/10ths */
.grid-item--width2 { width: 17.8%; }
/* 3/10ths */
.grid-item--width3 { width: 26.7%; }
/* 4/10ths */
.grid-item--width4 { width: 35.6%; }
/* 5/10ths */
.grid-item--width5 { width: 44.5%; }
/* 6/10ths */
.grid-item--width6 { width: 53.4%; }

/* MOBILE */
@media screen and (max-width: 700px) {
    .grid-sizer {
        width: 32.9%;
    }

    .grid-item--width1,
    .grid-item--width2,
    .grid-item--width3 {
        width: 32.9%;
    }

    .grid-item--width4,
    .grid-item--width5,
    .grid-item--width6 {
        width: 65.8%;
    }

    .grid-item img {
        width: calc(100% -10px);
    }

    .duplicate-image {
        width: 100%;
        max-height: 95%;
    }
}


/* Cards */
#scrollable, #scrollable2 {
    display: flex;
    width: 98%;
    flex-wrap: nowrap;
    overscroll-behavior: none;
    height: 360px;
    margin-left: 1%;
    padding: 0;
    border-radius: 30px;
    box-sizing: border-box;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    overflow: hidden;
    position: relative;
}
  
.card {
    z-index: 2;
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    /* border: 5px solid #fafafa; */
    width: auto;
    height: 350px;
    position: relative;
}

.card img {
    /* border: thin solid black; */
    margin-top: 0px;
    height: 350px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    transition: transform .3s ease-in-out; /* Animation */
    cursor: url(media/clicker.png), auto;
}

.duplicate-image {
    opacity: 0; /* initial state with transparent */
    transition: opacity .5s ease-in-out; /* enable transition */
    border-radius: 50px;
    position: fixed;
    margin-left: 0%;
    z-index: 1000000; /* set z-index to be above other elements */
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.duplicate-image.fade-in {
    opacity: 1; /* final state with opaque */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0); /* initial state with transparent background */
    z-index: 999;
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
    cursor: url(media/clicker.png), auto;
}

.overlay.fade-in {
    background-color: rgba(0, 0, 0, 0.7); /* final state with semi-transparent black background */
    backdrop-filter: blur(10px);
}


.card--double img {
    display: block;
    height: 170px;
    width: auto;
}

.card--triple img {
    display: block;
    height: 170px;
    width: auto;
}

.card--triple {
    margin-top: 5px;
}

.card--triple div {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 170px;
    width: auto;
}

.card--triple div img {
    display: inline-block;
    height: 170px;
    width: auto;
}


/* LOADING EFFECT */

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    margin: 1em auto;
    text-align: center;
    visibility: visible;
    opacity: 0%;
    transition: all 0.7s;
    font-size: 30px;
    font-family: 'Optima';
    color: rgba(0, 0, 0, 1);
    margin-left: 15px;
    margin-right: 15px;
}

.loading span {
    display: table-cell;
    padding: 0 0px;
    animation: jumb 2s infinite;
}

@keyframes jumb {
    0% {
        transform: translateY(0px)
    }

    15% {
        transform: translateY(-5px);
    }

    30% {
        transform: translateY(0px)
    }
}

.loading span:nth-child(1) { animation-delay:  0s; }
.loading span:nth-child(2) { animation-delay: .1s; }
.loading span:nth-child(3) { animation-delay: .2s; }
.loading span:nth-child(4) { animation-delay: .4s; }
.loading span:nth-child(5) { animation-delay: .5s; }
.loading span:nth-child(6) { animation-delay: .6s; }
.loading span:nth-child(7) { animation-delay: .7s; }
.loading span:nth-child(8) { animation-delay: .8s; }
.loading span:nth-child(9) { animation-delay: .9s; }
.loading span:nth-child(10){ animation-delay:  1s; }
