* {
    cursor: url(media/pointer.png), auto;
}

body {
    background-image: url(media/overlay.png);
    background-repeat: repeat;
    background-color: rgb(16, 42, 109);
}

main {
    clear: both;
    width: 95%;
    left: 2.5%;
    height: 600px;
    min-height: 600px;
    background-color: rgb(251, 183, 239);
    border-radius: 20px;
    position: absolute;
    margin-bottom: 10%;
    top: 130px;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

content {
    display: none;
    height: none;
}

/* For background image transparency */
main::before,
nav li::before {
    content: "";
    background-image: url(media/overlay.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: repeat;
    opacity: 0.25;
    z-index: 0;
}

nav li::before {
    top: -20px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: 200%;
    opacity: 0.15;
    z-index: -0;
}

nav li a {
    position: relative;
    z-index: 1 !important;
    /* This flexbox code stretches the link's clickable 
   * area to fit its parent block. */
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    cursor: url(media/clicker.png), auto;
}

h1,
h2,
h3,
h4,
label,
p {
    font-family: 'Optima';
    color: rgba(0, 0, 0, 1);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 0.8;
}

b {
    background-clip: text;
    -webkit-background-clip: text;
    /* For Safari */
    color: transparent;
    background-image: linear-gradient(to bottom right, rgb(200, 73, 166), rgb(117, 123, 231));
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: larger;
}

h4 {
    line-height: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 50%;
    position: absolute;
    top: 95px;
    right: 2%;
    z-index: 0;
}

nav li {
    display: inline-block;
    width: 22%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    z-index: 0;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    font-family: cursive;
    font-size: larger;
}

nav li.active {
    background-color: rgb(251, 183, 239);
    position: relative;
}

nav li.inactive {
    background-color: rgb(220, 136, 205);
}

nav li a {
    line-height: 25px;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

nav.menu {
    z-index: 0;
}

/* Columns, left (33%) and right (66%) */
div.left {
    float: left;
    height: 100%;
    width: 33%;
    position: absolute;
    top: 0;
    bottom: 0;
}

div.right {
    float: right;
    width: 66%;
}

img {
    max-width: 95%;
    max-height: 95%;
    margin-left: 15px;
    vertical-align: middle;
    margin-block: 7.5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.frame {
    align-items: center;
    /* For vertical align */
    display: flex;
    height: 100%;
    /* justify-content: center; <- for horizontal align */
    width: 100%;
}

img.logo {
    float: left;
    height: 100px;
    box-shadow: none;
    position: static;
    transform: none;
}

form {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    font-family: 'Optima';
}

label {
    float: center;
    display: block;
    font-size: 20px;
    margin: 10px;
}

input, textarea {
    text-align: center;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    cursor: url(media/text.png), auto;
    font-family: 'Optima';
    background-color: rgb(244, 198, 240);
}

textarea {
    padding-top: 2px;
    height: 150px;
    resize: none;
}

form li {
    display: inline-block;
    width: 33%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

form li input {
    cursor: url(media/clicker.png), auto;
    background-color: rgb(244, 198, 240);
}

#container {
    padding: auto;
    overflow: hidden;
}

.social-media-icons {
    text-align: center;
    /* align the icons horizontally */
}

.social-media-icon {
    cursor: url(media/clicker.png), auto;
    display: inline-block;
    /* display the icons on the same line */
    max-width: 30px;
    border-radius: 25%;
}

/* MOBILE */
@media screen and (max-width: 700px) {
    img.logo {
        float: none;
        width: 120px;
        height: auto;
        margin: auto;
        display: block;
    }

    img {
        width: 70%;
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }

    .frame {
        display: block;
    }

    nav ul {
        float: none;
        width: 95%;
        text-align: center;
        position: relative;
        top: 27.5px;
        left: 2.5%;
    }

    nav li {
        padding: 0 0px;
        font-size: 3.5vw;
    }

    div.left {
        width: 100%;
        float: none;
        display: inline-block;
        position: static;
    }

    div.right {
        width: 100%;
        float: none;
        display: inline-block;
    }
}

/* WIDE SCREENS */
@media screen and (min-width: 1100px) {
    main {
        width: 80%;
        left: 10%;
    }

    img.logo {
        position: absolute;
        left: 10%;
    }

    nav ul {
        width: 40%;
        top: 90px;
        right: 10%;
    }

    nav li {
        height: 70px;
    }

    nav li a {
        line-height: 45px;
        z-index: 1;
    }
}

/* ULTRA WIDE SCREENS */
@media screen and (min-width: 1500px) {
    main {
        width: 1200px;
        left: calc((100% - 1200px) / 2);
    }

    img.logo {
        left: calc((100% - 1200px) / 2);
    }

    nav ul {
        width: 600px;
        right: calc((100% - 1200px) / 2);
    }
}


/* GALLERY ========================================================================= */  
.grid-item img{
    width: calc(100% - 10px);
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-left: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

/* REGULAR SCREEN SIZES */

/* fluid 10 columns */
.grid-sizer { width: 9%; }
/* 1/10th */
.grid-item--width1 { width: 9%; }
/* 2/10ths */
.grid-item--width2 { width: 18%; }
/* 3/10ths */
.grid-item--width3 { width: 27%; }
/* 4/10ths */
.grid-item--width4 { width: 36%; }
/* 5/10ths */
.grid-item--width5 { width: 45%; }
/* 6/10ths */
.grid-item--width6 { width: 54%; }

/* MOBILE */
@media screen and (max-width: 700px) {
    .grid-sizer {
        width: 33%;
    }

    .grid-item--width1,
    .grid-item--width2,
    .grid-item--width3 {
        width: 33%;
    }

    .grid-item--width4,
    .grid-item--width5,
    .grid-item--width6 {
        width: 66%;
    }
}


/* Cards */
#scrollable, #scrollable2 {
    display: flex;
    width: 98%;
    flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior: none;
    height: 360px;
    margin-left: 1%;
    padding: 0;
    border-radius: 30px;
    box-sizing: border-box;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    overflow: hidden;
}
  
.card {
    z-index: 10000;
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    /* border: 5px solid #fafafa; */
    width: auto;
    height: 350px;
}

.card img {
    /* border: thin solid black; */
    margin-top: 0px;
    height: 350px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
}

.card--double img {
    display: block;
    /* border: thin solid rgb(255, 0, 0); */
    height: 170px;
    width: auto;
}

.card--triple img {
    display: block;
    /* border: thin solid rgb(255, 0, 0); */
    height: 170px;
    width: auto;
}

.card--triple {
    margin-top: 5px;
}

.card--triple div {
    display: inline-block;
    /* border: thin solid rgb(255, 0, 0); */
    margin-top: 0px;
    margin-bottom: 10px;
    height: 170px;
    width: auto;
}

.card--triple div img {
    display: inline-block;
    /* border: thin solid rgb(255, 0, 0); */
    height: 170px;
    width: auto;
}

/* 
.card img:hover {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 1);
}
 */
